.home {
  padding: 56px 20px;
  min-height: 100%;
  width: 100%;
}

.particles {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.headerchoosedog {
  font-family: "Goldman", cursive;
  justify-content: center;
}

.borderimage {
  border-style: solid;
  border-color: #ccff00;
}
